<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>registration</display-name>
    <context-param>
        <param-name>MONGODB_HOST</param-name>
        <param-value>localhost</param-value>
    </context-param>
    <context-param>
        <param-name>MONGODB_PORT</param-name>
        <param-value>27017</param-value>
    </context-param>
    <servlet>
        <servlet-name>GoalController</servlet-name>
        <servlet-class>Servlets.GoalController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddItems</servlet-name>
        <servlet-class>Servlets.AddItems</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxHelper</servlet-name>
        <servlet-class>Servlets.AjaxHelper</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GoalViewer</servlet-name>
        <servlet-class>Servlets.GoalViewer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompleteGoal</servlet-name>
        <servlet-class>Servlets.CompleteGoal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitCall</servlet-name>
        <servlet-class>Servlets.SubmitCall</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuizPortal</servlet-name>
        <servlet-class>Servlets.QuizPortal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuizAnswer</servlet-name>
        <servlet-class>Servlets.QuizAnswer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InBetweenNextCall</servlet-name>
        <servlet-class>Servlets.InBetweenNextCall</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InBetweenBackCall</servlet-name>
        <servlet-class>Servlets.InBetweenBackCall</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InBetweenAnswerBackCall</servlet-name>
        <servlet-class>Servlets.InBetweenAnswerBackCall</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GoalController</servlet-name>
        <url-pattern>/GoalController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddItems</servlet-name>
        <url-pattern>/AddItems</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxHelper</servlet-name>
        <url-pattern>/AjaxHelper</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GoalViewer</servlet-name>
        <url-pattern>/GoalViewer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompleteGoal</servlet-name>
        <url-pattern>/CompleteGoal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitCall</servlet-name>
        <url-pattern>/SubmitCall</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuizPortal</servlet-name>
        <url-pattern>/QuizPortal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuizAnswer</servlet-name>
        <url-pattern>/QuizAnswer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InBetweenNextCall</servlet-name>
        <url-pattern>/InBetweenNextCall</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InBetweenBackCall</servlet-name>
        <url-pattern>/InBetweenBackCall</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InBetweenAnswerBackCall</servlet-name>
        <url-pattern>/InBetweenAnswerBackCall</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>Signup.html</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>WordTester</servlet-name>
        <servlet-class>Servlets.WordTester</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Addbook</servlet-name>
        <servlet-class>Servlets.Addbook</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WordTester</servlet-name>
        <url-pattern>/WordTester</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CallGetWords</servlet-name>
        <servlet-class>Servlets.CallGetWords</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CallGetWords</servlet-name>
        <url-pattern>/CallGetWords</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AuthorSignup</servlet-name>
        <servlet-class>Signup.AuthorSignup</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AuthorSignup</servlet-name>
        <url-pattern>/AuthorSignup</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserSignup</servlet-name>
        <servlet-class>Signup.UserSignup</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserSignup</servlet-name>
        <url-pattern>/UserSignup</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AuthorLogin</servlet-name>
        <servlet-class>Login.AuthorLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AuthorLogin</servlet-name>
        <url-pattern>/AuthorLogin</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserLogin</servlet-name>
        <servlet-class>Login.UserLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserLogin</servlet-name>
        <url-pattern>/UserLogin</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>KonnectList</servlet-name>
        <servlet-class>Servlets.KonnectList</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>KonnectList</servlet-name>
        <url-pattern>/KonnectList</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Quizprocess</servlet-name>
        <servlet-class>Servlets.Quizprocess</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Quizprocess</servlet-name>
        <url-pattern>/Servlets.Quizprocess</url-pattern>
    </servlet-mapping>
</web-app>
