<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>registration</display-name>
    <context-param>
        <param-name>MONGODB_HOST</param-name>
        <param-value>localhost</param-value>
    </context-param>
    <context-param>
        <param-name>MONGODB_PORT</param-name>
        <param-value>27017</param-value>
    </context-param>
    <welcome-file-list>
		<welcome-file>Input.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>WordTester</servlet-name>
        <servlet-class>Servlets.WordTester</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WordTester</servlet-name>
        <url-pattern>/WordTester</url-pattern>
    </servlet-mapping>
</web-app>